<form [formGroup]="form" style="width: 100%;">
    <div class="grid my-3">
        <!-- Campo NOM_SERVICIO -->
        <div class="col-6">
            <span class="p-float-label">
                <input
                    type="text"
                    pInputText
                    formControlName="nom_servicio"
                    placeholder="Nombre servicio"
                    [style]="{ width: '100%' }"
                />
                <label>Nombre servicio *</label>
            </span>
        </div>
        
        <!-- Campo DESCRIPCION -->
        <div class="col-12">
            <span class="p-float-label">
                <input
                    type="text"
                    pInputText
                    formControlName="descripcion"
                    placeholder="Ingrese una descripción"
                    [style]="{ width: '100%' }"
                />
                <label>Descripción *</label>
            </span>
        </div>
        
        <!-- Campo FECHA -->
        <div class="col-6">
            <span class="p-float-label">
                <p-calendar
                    appendTo="body"
                    dateFormat="dd/mm/yy"
                    formControlName="fecha"
                    [showIcon]="true"
                    [style]="{ width: '100%' }"
                    [readonlyInput]="true">
                </p-calendar>
                <label>Fecha *</label>
            </span>
        </div>

        <!-- Campo MONTO -->
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber placeholder="$ 50.000 *" formControlName="monto" prefix="$ "
                    [style]="{ width: '100% !important;' }" inputId="integeronly" >
                </p-inputNumber>
                <label>Monto *</label>
            </span>
        </div>

         <!-- Campo NRO_CUOTAS-->
        <div class="col-3">
            <span class="p-float-label">
                <input pInputText pKeyFilter="int" placeholder="1" formControlName="nro_cuotas"
                    [style]="{ width: '100%' }"/>
                <label>N° de cuotas *</label>
            </span>
        </div>

        <div class="col-3" *ngIf="servicioExtra">
            <span class="p-float-label">
                <p-inputNumber 
                    mode="decimal" 
                    formControlName="contador_cuotas" 
                    [showButtons]="true" 
                    inputId="minmax-buttons"
                    [step]="1">
                </p-inputNumber>
                <label>Cuotas pagadas</label>
            </span>
        </div>
    </div>


    <div class="flex">
        <p-button
            styleClass="mr-3"
            [disabled]="form.invalid"
            label="Guardar"
            (click)="submit()"
        ></p-button>
        <p-button
            label="Cancelar"
            styleClass="p-button-danger"
            (click)="cancelar()"
        ></p-button>
    </div>

</form>
