<form [formGroup]="form">
    
    <div class="p-formgrid grid mb-3">

        <!-- Campo NOMBRE -->
        <div class="col flex flex-column gap-2">
            <span class="p-float-label">
                <input
                    type="text"
                    pInputText
                    formControlName="nombre"
                    placeholder="Porcentaje Multa"
                    [style]="{ width: '100%' }"
                />
                <label>Nombre *</label>
            </span>
        </div>

        <!-- Campo VALOR -->
        <div class="col flex flex-column gap-2">
            <span class="p-float-label">
                <input
                    pKeyFilter="num"
                    pInputText
                    formControlName="valor"
                    placeholder="0.33"
                    [style]="{ width: '100%' }"
                />
                <label>Valor *</label>
            </span>
            <small>
                Valores decimales deben ser escritos con punto. 
                <strong>Ej: 0.33</strong>
            </small>
        </div>

    <div class="flex">
        <p-button
            styleClass="mr-3"
            [disabled]="form.invalid"
            label="Guardar"
            (click)="submit()"
        ></p-button>
        <p-button
            label="Cancelar"
            styleClass="p-button-danger"
            (click)="cancelar()"
        ></p-button>
    </div>
</form>


