<form [formGroup]="form">
    <div class="grid mb-3">
        <div class="col flex flex-column gap-2">
            <span class="p-float-label">
                <input 
                    type="text" 
                    pInputText 
                    formControlName="cod_arriendo" 
                    autofocus 
                    placeholder="1234-1234-1234-1234"
                    [style]="{ width: '100%' }" />
                <label>Código</label>
            </span>
        </div>
        <div class="col flex flex-column gap-2">
            
        </div>
    </div>

    <div class="flex">
        <p-button
            styleClass="mr-3"
            [disabled]="form.invalid"
            label="Guardar"
            (click)="submit()"
        ></p-button>
        <p-button
            label="Cancelar"
            styleClass="p-button-danger"
            (click)="cancel()"
        ></p-button>
    </div>


</form>