<ng-container *ngIf="arrendatario">
    <div class="grid">
        <div class="col-4">
            <div class="text-sm font-bold text-600 mb-1">Rut</div>
            <div class="font-medium">{{arrendatario.rut_arr}}</div>
        </div>

        <div class="col-4" >
            <div class="text-sm font-bold text-600 mb-1">Nombres</div>
            <div class="font-medium">{{arrendatario.pri_nom_arr}} {{arrendatario.seg_nom_arr}}</div>
        </div>

        <div class="col-4">
            <div class="text-sm font-bold text-600 mb-1">Apellidos</div>
            <div class="font-medium">{{arrendatario.pri_ape_arr}} {{arrendatario.seg_ape_arr}}</div>
        </div>

        <div class="col-4">
            <div class="text-sm font-bold text-600 mb-1">Email</div>
            <div class="font-medium">{{arrendatario.correo_arr}}</div>
        </div>

        <div class="col-4">
            <div class="text-sm font-bold text-600 mb-1">Celular</div>
            <div class="font-medium">{{arrendatario.contacto_arr}}</div>
        </div>

        <div class="col-4">
            <div class="text-sm font-bold text-600 mb-1">Garantía</div>
            <div class="font-medium">${{arrendatario.saldo | number}}</div>
        </div>
        
        <div class="col-4">
            <div class="flex">
                <p-button 
                    icon="pi pi-pencil"
                    label="Editar"
                    styleClass="p-button-warning mr-2"
                    (click)="actualizar()"
                >
                </p-button>
                <p-confirmPopup></p-confirmPopup>
                <p-button 
                    icon="pi pi-trash" 
                    label="Eliminar"
                    styleClass="p-button-danger"
                    (click)="eliminar($event)"
                >
                </p-button>
            </div>
        </div>
        
    </div>
</ng-container>