<form [formGroup]="trabajadorForm">
    <div class="card">
        <h5>Registro Empleado</h5>

        <p-messages [(value)]="messages" [enableService]="false"></p-messages>

        <div class="p-formgrid grid">
            <div class="col flex flex-column gap-2">
                <label>Rut</label>
                <input
                    type="text"
                    pInputText
                    formControlName="rut_trab"
                    autofocus
                    placeholder="9999999-k"
                />
                <small>Rut sin puntos y con guión, Ej: 11625443-8</small>
            </div>
            <div class="col flex flex-column gap-2">
                <label>Email</label>
                <input
                    type="email"
                    pInputText
                    formControlName="email"
                    placeholder="carolina@email.cl"
                />
            </div>
        </div>

        <div class="p-formgrid grid">
            <div class="col flex flex-column gap-2">
                <label>Primer nombre</label>
                <input
                    type="text"
                    pInputText
                    formControlName="pri_nom_trab"
                    placeholder="Carolina"
                />
            </div>
            <div class="col flex flex-column gap-2">
                <label>Segundo nombre</label>
                <input
                    type="text"
                    pInputText
                    formControlName="seg_nom_trab"
                    placeholder="Andrea"
                />
            </div>
        </div>

        <div class="p-formgrid grid">
            <div class="col flex flex-column gap-2">
                <label>Primer apellido</label>
                <input
                    type="text"
                    pInputText
                    formControlName="pri_ape_trab"
                    placeholder="Carrasco"
                />
            </div>
            <div class="col flex flex-column gap-2">
                <label>Segundo apellido</label>
                <input
                    type="text"
                    pInputText
                    formControlName="seg_ape_trab"
                    placeholder="Carrasco"
                />
            </div>
        </div>

        <div class="p-formgrid grid">
            <div class="col flex flex-column gap-2">
                <label>Tipo de trabajador</label>
                <p-dropdown
                    formControlName="tipo_trab"
                    [options]="opcionesTipoTrabajador"
                    optionLabel="name"
                    [style]="{ width: '100%' }"
                    placeholder="Tipo de trabajador"
                ></p-dropdown>
            </div>
            <div class="col flex flex-column gap-2">
                <label>Celular</label>
                <input
                    type="text"
                    pInputText
                    formControlName="celular"
                    placeholder="982312455"
                />
            </div>
        </div>

        <div class="p-formgrid grid">
            <div class="col flex flex-column gap-2">
                <label>Comuna</label>
                <p-dropdown
                    formControlName="comuna_id"
                    [options]="opcionesComuna"
                    optionLabel="name"
                    [style]="{ width: '100%' }"
                    placeholder="Seleccion comuna"
                ></p-dropdown>
            </div>
            <div class="col flex flex-column gap-2">
                <label>Dirección</label>
                <input
                    type="text"
                    pInputText
                    formControlName="direccion"
                    placeholder="Av. Paicaví 254 depto 1209"
                />
            </div>
        </div>

        <div class="card">
            <p-button
                icon="pi pi-wallet"
                styleClass="p-button-rounded p-button-outlined mb-3"
                label="Agregar cuenta"
                (click)="agregarCuenta()"
            ></p-button>
            <div formArrayName="cuentas">
                <div *ngFor="let c of cuentas.controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="p-formgrid grid">
                            <div class="col flex flex-column gap-2">
                                <label>N° de cuenta</label>
                                <input
                                    type="text"
                                    pInputText
                                    formControlName="nro_cuenta"
                                    placeholder="xxxx xxxx xxxx xxxx"
                                />
                            </div>
                        </div>

                        <div class="p-formgrid grid">
                            <div class="col flex flex-column gap-2">
                                <label>Banco</label>
                                <p-dropdown
                                    [options]="opcionesBanco"
                                    optionLabel="name"
                                    formControlName="banco"
                                    [style]="{ width: '100%' }"
                                    placeholder="Seleccion banco"
                                ></p-dropdown>
                            </div>
                            <div class="col flex flex-column gap-2">
                                <label>Tipo de cuenta</label>
                                <p-dropdown
                                    [options]="opcionesTipoCuenta"
                                    optionLabel="name"
                                    formControlName="tipo_cuenta"
                                    [style]="{ width: '100%' }"
                                    placeholder="Seleccion tipo de cuenta"
                                ></p-dropdown>
                            </div>
                        </div>

                        <p-button
                            pTooltip="Eliminar cuenta"
                            icon="pi pi-times"
                            styleClass="p-button-danger p-button-outline p-button-text"
                            (click)="removerCuenta(i)"
                        ></p-button>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

        <p-button
            [disabled]="trabajadorForm.invalid"
            label="Guardar"
            (click)="guardarTrabajador()"
        ></p-button>
    </div>
</form>
