<div class="card">
    <p-toolbar styleClass="mb-4">
        <div class="p-toolbar-group-start">
            <p-button
                class="mr-2"
                label="Registrar"
                icon="pi pi-plus"
                styleClass="p-button-success"
                (click)="goToRegistroTrabajador()"
            ></p-button>
        </div>
    </p-toolbar>
    <p-messages [(value)]="messages" [enableService]="false"></p-messages>

    <p-table [columns]="cols" [value]="trabajadores">
        <ng-template pTemplate="caption">
            <div
                class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
            >
                <h5 class="m-0">Empleados</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        placeholder="Juan, Carla ..."
                        class="w-full sm:w-auto"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
                <td class="flex">
                    <div>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-eye"
                            class="p-button-rounded p-button-primary mr-2"
                            (click)="verTrabajador(rowData)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-warning mr-2"
                            (click)="editarTrabajador(rowData)"
                        ></button>

                        <p-confirmPopup></p-confirmPopup>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger"
                            (click)="eliminarTrabajador($event, rowData)"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
