<div class="card" *ngIf="propietarios$ | async as propietarios">
    <h4>Propietarios</h4>
    <p-table
        [value]="propietarios"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <p-button class="mr-2" label="Registrar" icon="pi pi-plus" styleClass="p-button-success"
                [routerLink]="['/propietarios', 'registro',]">
            </p-button>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Cod</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Rut</th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-propietario>
            <tr>
                <td>{{propietario.id}}</td>
                <td>{{propietario.pri_nom_prop}} {{propietario.pri_ape_prop}}</td>
                <td>{{propietario.email_prop}}</td>
                <td>{{propietario.contacto_prop}}</td>
                <td>{{propietario.rut_prop}}</td>
                <td class="flex">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-search"
                        class="p-button-rounded p-button-primary mr-2"
                        [routerLink]="['/propietarios', propietario.id, 'detalle']"
                    ></button>
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>