<ng-container *ngIf="cuentas$ | async as cuentas">
<p-table [value]="cuentas" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <p-button 
            class="mr-2" 
            label="Agregar cuenta" 
            icon="pi pi-plus" 
            styleClass="p-button-success p-button-sm"
            (click)="registro()"
        >
        </p-button>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>N° Cuenta</th>
            <th>Estado</th>
            <th>Banco</th>
            <th>Tipo de Cuenta</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cuenta>
        <tr >
            <td > {{cuenta.cuenta}}</td>
            <td>{{cuenta.estado_cuenta}}</td>
            <td>{{cuenta.banco.nombre_banco}}</td>
            <td>{{cuenta.tipocuenta.nom_cuenta}}</td>
            <td class="flex gap-1">
                <div >
                    <p-button
                        icon="pi pi-pencil" 
                        styleClass="p-button-warning"
                        (click)="editar(cuenta)"
                    ></p-button>
                </div>
                <p-confirmPopup></p-confirmPopup>
                <div >
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-danger"
                        (click)="eliminar($event, cuenta)"
                    ></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</ng-container>