<p-table [value]="arriendos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <!-- Botón REGISTRAR -->
        <button pButton pRipple
            icon="pi pi-plus"
            class="p-button mr-2"
            style="background-color:#F78E00"
            label="Registrar"
            (click)="registrar()">
        </button>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="font-bold">Cod</th>
            <th class="font-bold">Nombre arrendatario</th>
            <th class="font-bold">Dirección propiedad</th>
            <th class="font-bold">Fecha de pago</th>
            <th class="font-bold">Monto arriendo</th>
            <th class="font-bold">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-arriendo>
        <tr>
            <td>{{arriendo.propiedad_cod}}</td>
            <td>{{arriendo.nombre_arrendatario}}
            <td>{{arriendo.direccion}}
            <td>{{arriendo.fecha_pago | date:'dd/MM/yyyy'}}</td>
            <td>${{arriendo.monto_arriendo | number}}</td>
            
            <td>
                <!-- Botón VER DETALLE -->
                <div class="flex">
                    <button pButton pRipple
                    icon="pi pi-search"
                    class="p-button-rounded mr-2"
                    style="background-color:#006C86; width: 120px;"
                    label="Ver detalle"
                    (click)="detalle(arriendo)">
                </button>
                </div>
                
            </td>
        </tr>
    </ng-template>
</p-table>