<p-table [value]="arriendos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <!-- Botón Registrar -->
        <button pButton pRipple
            icon="pi pi-plus"
            class="p-button mr-2"
            style="background-color:#F78E00"
            label="Registrar"
            (click)="registrar()">
        </button>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th><b>Código</b></th>
            <th><b>Nombre arrendatario</b></th>
            <th><b>Dirección propiedad</b></th>
            <th><b>Fecha de pago</b></th>
            <th><b>Monto arriendo</b></th>
            <th><b>Acciones</b></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-arriendo>
        <tr>
            <td>{{arriendo.propiedad_cod}}</td>
            <td>{{arriendo.nombre_arrendatario}}
            <td>{{arriendo.direccion}}
            <td>{{arriendo.fecha_pago | date:'dd/MM/yyyy'}}</td>
            <td>${{arriendo.monto_arriendo | number}}</td>
            
            <td>
                <div class="flex">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-search"
                        class="p-button-rounded p-button-primary mr-2"
                        (click)="detalle(arriendo)"
                    ></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>