<div class="card">
    <p-toolbar styleClass="mb-4">
        <div class="p-toolbar-group-start">
            <p-button
                class="mr-2"
                label="Nueva cuenta"
                icon="pi pi-plus"
                styleClass="p-button-success"
                (click)="crearNuevaCuenta()"
            ></p-button>
        </div>
    </p-toolbar>
    <p-table
        *ngIf="usuarios$ | async as usuarios"
        [value]="usuarios"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>COD</th>
                <th>Username</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td class="flex">
                    <div>
                        <p-confirmPopup></p-confirmPopup>
                        <button
                            [disabled]="usuarioActual?.id === usuario.id"
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger"
                            (click)="eliminarUsuario($event, usuario)"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>
