td {
    width: auto;
    padding: 50px;
}

td:first-child {
    width: 10%;
}

td:nth-child(2) {
    width: 20%;
}

td:nth-child(3) {
    width: 30%;
}

td:nth-child(4) {
    width: 30%;
}

td:last-child {
    width: 10%;
}