<p-button 
    (click)="volver()"
    label="Volver" 
    icon="pi pi-arrow-left" 
    styleClass="p-button-sm p-button-outlined mb-3">
</p-button>

<ng-container *ngIf="arrendatario">

    <div class="card">
        <h4>Detalle arrendatario</h4>
        <app-detalle-arrendatario
            [arrendatario]="arrendatario"
            (actualizarEvent)="handleActualizarEvent(arrendatario)"
            (eliminarEvent)="handleEliminarEvent(arrendatario)"
        />
    </div>

    <div class="card"  *ngIf="creacionCuentaActiva">
        <h4>{{ cuentaBancaria ? 'Actualizar cuenta' : 'Registro cuenta'}}</h4>
        <app-formulario-cuenta-bancaria
            [rut_propietario]="arrendatario.rut_arr"
            [cuentaBancaria]="cuentaBancaria"
            (submitEvent)="guardarCuentaBancaria($event)"
            (cancelEvent)="cancelarCreacionCuentaBancaria()"
        />
    </div>

    <div class="card">
        <h4>Cuentas Bancarias</h4>
        <app-listado-cuenta-bancaria 
            (registroEvent)="activarCreacionCuentaBancaria()"
            (actualizarEvent)="actualizarCuentaBancaria($event)"
            (eliminarEvent)="eliminarCuentaBancaria($event)"
        />
    </div>

    

</ng-container>