.caption-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption-filter {
    display: flex;
    align-items: center;
    gap: 4px;
}


td {
    padding-block: 2px !important;
}