<div class="card" *ngIf="propiedades$ | async as propiedades">
    <p-table [value]="propiedades" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Cod</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Propietario</th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-propiedad>
            <tr>
                <td>{{ propiedad.id }}</td>
                <td>{{ propiedad.comuna_id.nom_com }}</td>
                <td> {{ propiedad.direccion_ppdd }}
                    <span *ngIf="propiedad.numero_ppdd">
                        {{propiedad.tipopropiedad_id.nombre_tipoppdd}}:
                        {{ propiedad.numero_ppdd }}
                    </span>
                </td>
                <td>
                    <a class="underline" [routerLink]="['/propietarios', propiedad.propietario_id.id,'detalle']">
                        {{ propiedad.propietario_id.pri_ape_prop }}
                    </a>
                </td>
                <td class="flex">
                    <div>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-eye"
                            class="p-button-rounded p-button-primary mr-2"
                            (click)="detail(propiedad)"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
