<ng-container *ngIf="trabajador$ | async as trabajador">
    <div class="card">
        <h4>Detalle Trabajador</h4>
        <app-detalle-trabajador 
            [trabajador]="trabajador"
            (actualizarEvent)="handleActualizarEvent(trabajador)"
            (eliminarEvent)="handleEliminarEvent(trabajador)"
        />
    </div>

    <div class="card" *ngIf="creacionCuentaActiva">
        <h4>{{ cuentaBancaria ? 'Actualizar cuenta' : 'Registro cuenta'}}</h4>
        <app-formulario-cuenta-bancaria 
            [rut_propietario]="trabajador.rut_trab"
            [cuentaBancaria]="cuentaBancaria"
            (submitEvent)="guardarCuentaBancaria($event)"
            (cancelEvent)="cancelarCreacionCuentaBancaria()"
        />
    </div>

    <div class="card">
        <h4>Cuentas bancarias</h4>
        <app-listado-cuenta-bancaria 
            (registroEvent)="activarCreacionCuentaBancaria()"
            (actualizarEvent)="actualizarCuentaBancaria($event)"
            (eliminarEvent)="eliminarCuentaBancaria($event)"
        />
    </div>

</ng-container>