<div class="card">
    <h5>Cambiar contraseña</h5>
    <div class="grid p-fluid mt-3">
        <div class="grid formgrid">
            <div class="col-12 mb-4">
                <input type="text" pInputText placeholder="Default" />
            </div>
            <div class="col-12 mb-4">
                <input
                    type="text"
                    pInputText
                    placeholder="Disabled"
                    [disabled]="true"
                />
            </div>
            <label for="usuario" class="block text-900 text-xl font-medium mb-2"
                >Usuario</label
            >
            <input
                id="usuario"
                type="text"
                placeholder="Usuario"
                pInputText
                class="w-full md:w-30rem mb-5"
                style="padding: 1rem"
            />
        </div>
    </div>
</div>
