<ng-container *ngIf="propietario">
    <div class="card">
        <h4>Detalle Propietario</h4>
        <app-detalle-propietario 
            [propietario]="propietario"
            (actualizarEvent)="handleActualizarEvent(propietario)"
            (eliminarEvent)="handleEliminarEvent(propietario)"
        />
    </div>

    <div class="card">
        <h4>Propiedades</h4>
        <app-listado-propiedad 
            [propiedades]="propiedades"
            [hidePropietario]="true"
            (crearActionEvent)="crearPropiedad(propietario)"
        />
    </div>

    <div class="card" *ngIf="creacionCuentaActiva">
        <h4>Registro cuenta</h4>
        <app-formulario-cuenta-bancaria 
            [rut_propietario]="propietario.rut_prop"
            (submitEvent)="guardarCuentaBancaria($event)"
            (cancelEvent)="cancelarCreacionCuentaBancaria()"
        />
    </div>

    <div class="card">
        <h4>Cuentas Bancarias</h4>
        <app-listado-cuenta-bancaria 
            (registroEvent)="activarCreacionCuentaBancaria()"
            (eliminarEvent)="eliminarCuentaBancaria($event)"
        />
    </div>

</ng-container>
